<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.codedom>
    <compilers>
      <!--  , Version=1.0.8.0, Culture=neutral, PublicKeyToken=b213442182ae2f7a -->
      <compiler
        language="c#;cs;csharp"  extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, DotNetCompilerPlatform"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <!--         
        -->
    </compilers>
  </system.codedom>
  <system.net>
  </system.net>
</configuration>
